<div class="container my-5">
  <div class="row">
    <div class="col-md-10">
      <form
        #signUpform="ngForm"
        (ngSubmit)="sumbitonclick()"
        class="border border-secondary p-4"
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            minlength="8"
            maxlength="14"
            #username="ngModel"
            name="username"
            ngModel
            type="text"
            class="form-control"
            id="username"
            required
            pattern="^[a-zA-Z][a-zA-Z0-9_]{2,19}$"
          />

          <strong
            class="text-danger"
            *ngIf="username.dirty && username.hasError('Pattern')"
            >Invalid pattern
          </strong>
          <strong
            class="text-danger"
            *ngIf="username.touched && username.hasError('required')"
            >Username is required</strong
          >
          <strong
            class="text-danger"
            *ngIf="username.dirty && username.hasError('minlength')"
            >Minimum length should be 8</strong
          >
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            ngModel
            required
            name="email"
            type="text"
            class="form-control"
            id="email"
            #email="ngModel"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />

          <strong
            class="text-danger"
            *ngIf="email.touched && email.hasError('required')"
            >email is required</strong
          >

          <strong
            class="text-danger"
            *ngIf="email.dirty && email.hasError('pattern')"
          >
            Invalid Pattern ({{ "abc@gmail.com" }})
          </strong>
        </div>

        <div class="form-group">
          <label for="question">Secret question</label>
          <input
            required
            ngModel
            #question="ngModel"
            type="text"
            name="question"
            id="question"
            class="form-control"
          />

          <strong
            class="text-danger"
            *ngIf="question.touched && question.hasError('required')"
          >
            Fild is required
          </strong>
        </div>

        <div class="form-group">
          <label for="answer">answer</label>
          <textarea
            required
            ngModel
            #answer="ngModel"
            type="text"
            name="answer"
            id="answer"
            rows="5"
            class="form-control"
          >
                        Answer</textarea
          >
        </div>

        <strong
          class="text-danger"
          *ngIf="answer.touched && answer.hasError('required')"
        >
          Fild is required
        </strong>

        <div class="form-group">
          <label for="subscribe"
            ><input
              ngModel
              #subscribe="ngModel"
              type="checkbox"
              name="subscribe"
              id="subscribe"
              required
            />
            Subscribe for Daily Emails</label
          >
        </div>

        <div class="form-group">
          <label for="phone"
            ><input
              ngModel
              #phone="ngModel"
              type="radio"
              value="phone"
              name="moc"
              id="phone"
              required
            />
            Phone</label
          >
          <label class="ml-3" for="email"
            ><input
              ngModel
              #phone="ngModel"
              type="radio"
              value="email"
              name="moc"
              id="email"
            />
            Email</label
          >
        </div>

        <button
          type="submit"
          [disabled]="signUpform.invalid"
          class="btn btn-sm btn-primary"
          mat-raised-button
          color="primary"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
